:root {
    --text-color: #fff;
    --main-text-color: #333;
    --border-color: #c99b67;
    --accent-color-green: #0a775f;
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* OUTLINE */
*:focus {
    outline: 2px dashed blue;
    outline-offset: 2px;
}

html {
    scroll-behavior: smooth;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    color: #000;
}

a {
    list-style: none;
    text-decoration: none;
}

img {
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
button {
    padding: 16px 24px;
    border: 0;
    font-weight: 700;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: var(--accent-color-green);
    color: var(--text-color);
}

.work-main-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: var(--border-color);
}



/* SITE TOP */
.site-top {
    height: 800px;
    margin-bottom: 20px;
    background-image: url(../img/bg-intro.jpg);
}

.site-header {

}

/* HEADER */
.site-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.site-logo-img {
    width: 235px;
    height: 24px;
    display: block;
}

.site-logo-img:hover {
    opacity: 0.8;
}

.site-logo-img:active{
    opacity: 0.6;
}

.sitenav-list {
    display: flex;
    list-style: none;
}


.sitenav-item:not(:last-child) {
    margin-right: 40px;
}

.sitenav-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.sitenav-link:hover {
    opacity: 0.8;
    color: var(--accent-color-green);
}

.sitenav-link:active{
    opacity: 0.6;
}


/* HERO MAIN */
.hero-main {
    display: flex;
    background-image: url(../img/Rectangle679.jpg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 410px) bottom;
}

.hero-main img {
    margin-top: -60px;
    margin-left: 80px;
}


/* HERO */
.hero {
    width: 100%;
    max-width: 465px;
    margin-top: 116px;
    margin-left: 100px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 34px;
    line-height: 24px;
}

/* COLLECTION */
.collection {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: rgb(255, 240, 222);
}

.collection-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}


.collection-content {
    width: 100%;
    max-width: 1194px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.collection-content-img {
    margin-right: 117px;
}

.collection-content-main {
    width: 100%;
    max-width: 1100px;
    color: var(--main-text-color);
}

.collection-content-main-left {
    padding-left: 157px;
}

.collection-content-main-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
}

.collection-content-main-text {
    width: 100%;
    max-width: 453px;
    font-size: 22px;
    line-height: 36px;
}

.collection-content-img {
    display: block;
    width: 450px;
    height: 375px;
}



/* ABOUT SECTION */
.about {
    width: 100%;
    max-width: 1400px;
    height: 703px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 289px;
    background-color: #d89d59;
    color: var(--text-color);
}

.about-heading {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-text {
    width: 581px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 28px;
    opacity: 0.8;
}

/* ABUT MAIN */
.about-main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

.about-content:not(:last-child) {
    margin-right: 20px;
}
.about-content-img {
    display: block;
    width: 433px;
    height: 500px;
    margin-top: 0;
    margin-bottom: 28px;
}
.about-content-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--main-text-color);
}

.about-content-text {
    width: 100%;
    max-width: 377px;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}


/* WORK SECTION */
.work {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(17, 78, 30);
}

.work-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 700;
    color: var(--text-color);
}

.work-line {
    width: 900px;
    border: 2px dashed var(--border-color);
}

.work-main {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

.work-content {
    margin-top: 0;
    margin-bottom: 60px;
}

.work-content:not(:last-child){
    margin-right: 20px;
}

.work-content-rectangle {
    width: 52px;
    height: 52px;
    margin-top: 0;
    margin-bottom: 20px;
    border: 4px solid var(--border-color);
    background-color: var(--text-color);
}
.work-content-about {
    width: 100%;
    max-width: 433px;
    padding: 20px 20px 40px;
    background-color: var(--text-color);
}

.work-content-about-number {
    margin-top: 20px;
    margin-bottom: 45px;
    font-size: 60px;
    text-align: end;
    opacity: 0.8;
    color: var(--main-text-color);
}

.work-content-about-title {
    width: 100%;
    max-width: 231px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
    color: var(--main-text-color);
}

.work-content-about-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}


/* FOOTER */
.site-footer {
    background-color: rgb(255, 219, 175);
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-socials-link:not(:last-child){
    margin-right: 30px;
}

.footer-socials-link img {
    width: 30px;
    height: 30px;
    display: block;
}



/* CSS RETINA */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-top {
        background-image: url(../img/bg-intro@2x.jpg);
    }

}