*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* OUTLINE */
*:focus {
    outline: 2px dashed blue;
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    background-color: #222;
    color: #000;
}

a {
    list-style: none;
    text-decoration: none;
}

img {
    height: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON */
button {
    padding: 16px 24px;
    border: 0;
    font-weight: 700;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #0a775f;
    color: #fff;
}



/* SITE TOP */
.site-top {
    height: 800px;
    background-color: rgb(255, 219, 175);
    background-image: url(../img/Rectangle679.jpg);
    background-repeat: no-repeat;
    background-position: left calc(50% + 410px) bottom;
}

/* HEADER */
.site-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sitenav-list {
    display: flex;
}

.nav-item {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style: none;
    text-transform: uppercase;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    color: #333;
}


/* HERO */
.hero {
    width: 100%;
    max-width: 465px;
    margin-top: 116px;
    margin-left: 100px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 34px;
    line-height: 24px;
}

/* COLLECTION */
.collection-content-img {
    background: 0;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .site-top {
        background-image: url(../img/Rectangle679@2x.jpg);
    }

}